<form action='/' method="post">
  <label for="inputUser">Create Your Username: </label>
  <input name="inputUser" class="form-control" id="inputUser">
  <br>
  <label for="inputPass">Create Your Password: </label>
  <input name="inputPass" class="form-control" id="inputPass" type="password">
  <br>
  <label for="inputName">Create Your Name: </label>
  <input name="inputName" class="form-control" id="inputName">
  <br>
  <button type="submit" class="btn btn-dark">Submit</button>
</form>
