
@{
  Layout = "_LayoutAccountForm";
}

<div class="row">
  <div class="col-md-12">
        <img src="img/badge.png" width=520px>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-2">

    <h1>Create Account</h1>
  </div>
  <div class="col-md-10">
    <form action='/' method="post">
      <label for="inputUser">Create Your Username: </label>
      <input name="inputUser" class="form-control" id="inputUser">
      <label for="inputPass">Create Your Password: </label>
      <input name="inputPass" class="form-control" id="inputPass" type="password">
      <label for="inputName">Create Your Name: </label>
      <input name="inputName" class="form-control" id="inputName">
      <br>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </div>
</div>
