@{
  Layout = "_LayoutLogin";
}

<div class="row">
  <div class="col-md-12">
        <img src="img/badge.png" width=520px>
  </div>
</div>
<div class="row">
  <div class="col-md-2">

    <h1>LOGIN</h1>

  </div>
  <div class="col-md-10">
    <form action="homepage" method="post">
        <label for="inputUser">Username</label>
        <input name="inputUser" class="form-control" id="inputUser">
        <label for="inputPass">Password:</label>
        <input name="inputPass" class="form-control" id="inputPass" type="password">
        <br>
        <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
    <button class="btn btn-secondary"><a href="Account">Create a New Account</a></button>
  </div>

  </div>
