@{
  Layout = "_LayoutLogin";
}

<h1>Movies</h1>
<form action="homepageSearch" method="post">
    <label for="inputUser">Enter your Username</label>
    <input name="inputUser" class="form-control" id="inputUser">
    <label for="inputPass">Enter your Password:</label>
    <input name="inputPass" class="form-control" id="inputPass">
    <button type="submit" class="btn btn-dark">Submit</button>
</form>

<a href="Account">Create a New Account</a>
