<h1>Movies</h1>
<form action='/result' method="post">
  <label for="inputTitle">Enter Your Title:</label>
  <input name="inputTitle" class="form-control" id="inputTitle">
  <label for="inputGenre">Enter Your Genres:</label>
  <input name="inputGenre" class="form-control" id="inputGenre">
  <button type="submit" class="btn btn-success">Submit</button>
</form>
