.col-md-12 img {
  margin:auto;
  display:block;
  margin-top:150px;
  margin-bottom:50px;
}

.col-md-2 {
  margin-top:5px;
  background-color:#c2c2c2;
}

.col-md-10 {
  margin-top:5px;
  background-color:#ffa200;
}

body {
  background-image:url("../img/detailspage44.jpg");
  background-repeat: no-repeat;
  background-size: cover;

}

.col-md-10 form {
  margin-top:15px;
  font-size:20px;
}

.btn.btn-dark {
  color: #fff;
  background-color: #a5a5a5;
  border:none;
}

a {
  color:white;
}

button {
  margin-bottom:5px;
}

form {
  margin-bottom:2px;
}

h1 {
  font-family: 'Oswald', sans-serif;
  text-align:center;
  padding-top:105px;
  padding-bottom:50px;
}

img {
  margin-bottom:2em;
}
