h1 {
  Font-Family: 'Oxygen', Sans-Serif;
  Font-Size: 166px;
  color:black;
}

p {
  Font-Family: 'Noto Serif', Serif;
  Font-Size: 16px;
}

h2 {
    Font-Family: 'Oxygen', Sans-Serif;
    font-size:40px;
    color:black;
}

h3 {
  text-align:center;
}

.emdb1 {
  margin-bottom:-40px;
  padding-bottom:0px;
}

.emdb2 {
  text-align:center;
  color:#000;

}

.wrapper_nav {
  display: inline-block;
  width:100%;
  color:white;
  height:25px;
  padding-bottom: 2em;
}

.wrapper_nav a {
  color:white;
  margin-right:25px;
  font-size:20px;
  font-Family: 'Noto Serif', Serif;
}

.titlewrapper {
  width:100%;
  text-align:center;
  border:2px solid black;
  background-color:#afb9d6;
}


body {
  background-color:#fff;
}

.bgwrapper {
  height:100%;
  margin-left:0px;
}

.contentwrapper {
  float:right;
  position: relative;
  text-align:left;
  width:100%;
  height:100%;
}

#inputTitle {
  width:100%;
  margin:auto;
    border-top:2px solid black;
    border-bottom:2px solid black;
    border-radius:0;
    background-color:#f3f3f3;
}

.col-md-6 {
  text-align:center;
  margin:0px;
}



li {
  text-align:left;
  font-size:20px;
  Font-Family: 'Oxygen', Sans-Serif;
}

.moviewrapper {

  border-left:2px solid black;
  border-right:2px solid black;
    border-bottom:2px solid black;
}

.searchwrapper {

  border-left:2px solid black;
  border-right:2px solid black;
    border-bottom:2px solid black;
}

h3 {
  border-bottom:2px solid black;
  background-color:#7f8da3;
}

.btn-success {
  background-color:black;
}

.btn-success:hover {
  background-color:white;
  color:black;
}
